[Unit]
Description=Telegram Analytics Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/bot_tg
ExecStart=/usr/bin/python3 /opt/bot_tg/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
